
.ItemContainer {
    border: 1px solid #ccc;
    margin: 50px;

}
.ItemContainer .ProductInfo {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 10px 10px 10px;
    padding: 10px;
}
.ItemContainer .ProductImage {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}
.ItemContainer .Price {
    font-size: 1.25rem;
    color: green;
}
.ItemContainer .IncreaseDecrease {
    border: none;
    background-color: #fff;
    font-size: 1.25rem;
    margin: 0 10px 0 10px;
}
.ItemContainer .IncreaseDecreaseContainer {
    display: "flex"; 
    align-items: "center"; 
    justify-content: space-between;
    gap: "10px";  
    border: 1px solid #ccc;
}
.ItemContainer .ProductName {
    font-size: 1.25rem;  
}
.ItemContainer .CouponContainer {
    border: 1px solid #ccc;
    border-radius: 10px; /* Bo góc */
    background-color: #f9f9f9;
    margin: 20px;

}

.ItemContainer .CouponHeader {
    background-color: #e0e0e0; /* Màu nền xám */
    color: #333; /* Màu chữ */
    font-size: 1rem;
    font-weight: bold;
    text-align: flex-start;
    padding: 10px;
    width: 100%;

}

.ItemContainer .SubmitButton{
    border-radius: 0px !important;
    width: 100%;
    padding: 10px;
    background-color: #DD3C5A;
    color: #fff;
    border: none;
    cursor: pointer;
}