.CartItemContainer {
    border: 1px solid #ccc;
    margin-bottom: 10px;
}
.ProductInfo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    
  }
  
  .ProductDetails {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .ProductImage {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .PriceWrapper,
  .QuantityWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .IncreaseDecreaseContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    height: 45px;
    border-radius: 8px;
    padding: 0 10px;
  }
  

.IncreaseDecrease {
    border: none;
    cursor: pointer;
    padding: 5px 10px;
  }

.Price {
    color: green;
    
}
 .CouponContainer {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    margin: 20px;
}

 .CouponHeader {
    background-color: #e0e0e0; /* Màu nền xám */
    color: #333; /* Màu chữ */
    font-size: 1rem;
    font-weight: bold;
    text-align: flex-start;
    padding: 10px;
    width: 100%;

}

 .SubmitButton{
    border-radius: 0px !important;
    width: 100%;
    padding: 10px;
    background-color: #DD3C5A;
    color: #fff;
    border: none;
    cursor: pointer;
}

.deleteicon {
    color: #DD3C5A;
    cursor: pointer;
    font-size: 20px;
    margin-left: 20px;
}
.CouponDescription {
  padding: 10px;
}