.OrderCart {
    display: flex;
    align-items: center;
    gap: 10px; /* Khoảng cách giữa ảnh và thông tin */
  }
  
  .ProductImage {
    width: 100px;
    height: auto;
  }
  
  .ProductInfo {
    display: flex;
    flex-direction: column;
  }
  
  .ProductName {
    font-size: 16px;
    font-weight: bold;
  }
  
  .QuantityPrice {
    font-size: 14px;
    color: #555;
  }
  