.AllHeader {
    width: 100%;
}

.HeaderContainerBackground {
    background: linear-gradient(to right, #001B48, #02457A);
}

.HeaderContainer {
    max-width: 1280px;
    height: 88px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    margin: 0 auto;
    padding: 10px 0;
    align-items: center;
}

.logoLink {
    display: flex;
    align-items: center;
    height: 100%;
}

.logoimg {
    width: auto;
    height: 100%;
}

.userSection {
    display: flex;
    align-items: center;
    gap: 15px;
}

.avatar {
    color: white;
    width: 30px;
    height: 30px;
}

.avatarcontainer {
    width: 40px;
    height: 40px;
    border-radius: 50% !important;
    border-width: 0.5px !important;
    border: 1px solid white;
    background-color: #02457A !important;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cartButton {
    display: flex;
    align-items: center;
    gap: 5px !important;
    border-radius: 24px !important;
    border-color: white !important;
    border-width: 1px !important;
    background-color: #02457A !important
}

.functioncontainerbackground {
    background-color: #191d1e;
}

.functioncontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    cursor: pointer;
    margin: 0 auto;
    width: 100%;
    padding: 0;
    height: auto;
    position: relative;
    list-style-type: none;
    padding-left: 0;
    max-width: 1280px;
}

.menuicon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin: 5px;
}

.functionitem {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    color: white;
}


.container {
    max-width: 1200px;
}




.menuRow {
    display: flex !important;
    flex-wrap: nowrap !important;
    justify-content: space-between !important;
}

.menuitem {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    color: black;
}

.functioncontainer ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;

}

.functioncontainer li {
    align-items: center;
    text-align: center;
    color: white;
    position: relative;

}

.submenu {
    position: absolute;
    top: 100%;
    width: 1280px;
    background-color: #001B48;
    padding: 10px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    z-index: 999;

}

.submenu li:hover {
    background-color: transparent;
}

.badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 10px;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartButton {
    position: relative;
    display: flex;
    align-items: center;
    gap: 6px;
}